# URL de la API del Backend desplegado en la nube (ej: en Render)
VITE_API_URL=https://tu-backend.onrender.com/api

# Información Institucional
VITE_SCHOOL_NAME="Telebachillerato Comunitario"
VITE_SCHOOL_LEMA="Excelencia y Compromiso Educativo"
VITE_CYCLE_NAME="2026-2027"
